body {
    
}

span {
    background-color:blue;
    
}

button {
    background-color: Yellow;
    color: Blue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor:pointer;
}

button:hover {
    background-color:#3e8e41;
}
body {background-color: Blue;}